body {
  margin: 0;
  padding: 0;
  background: #0e1013 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.email-main-table {
  background: #0e1013 !important;
  padding: 20px 0;
  width: 100%;
}

.email-center-box {
  background: #0e1013 !important;
  color: #fff !important;
  width: 600px;
}

.email-title {
  color: #ffffff !important;
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  padding: 20px 0;
  text-align: left;
}

.email-card {
  background: #1a1d21 !important;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
}

.email-card-img {
  display: block;
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.email-card-title {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.email-card-subtext {
  color: #9ca3af !important;
  font-size: 12px;
}
