@media screen and (max-width: 800px) {

  body {
    margin: 0;
    padding: 0;
    background-color: black;
    transition: opacity 0.5s ease-in-out;
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("./assets/BG.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    scale: 2.5;

  }

  .shadow {
    position: fixed;
    width: 8000px;
    height: 250px;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0.7, 0) 100%);
    z-index: 10;
    display: block;
  }

  /* Mantener el menú en la parte superior */
  .first-page .menu {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    min-width: 400px;
    height: 450px;
    background-color: #2c2c2cbf;
    border-radius: 20px;
    padding: 25px 20px;
    box-sizing: border-box;
    border: 1px solid #171F26BF;
    z-index: 100;
  }

  /* Ajustar el logo para que esté centrado con el menú */
  .first-page .logo {
    position: fixed;
    top: 20px;
    left: 49%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    z-index: 101;
  }

  .cards-container {
    position: absolute;
    top: 0;
    left: 50.7%;
    /* right: 0; */
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }

  .first-page .title {
    position: relative;
    width: 400px;
    height: auto;
    padding-left: 5px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
  }

  .first-page .cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding-bottom: 0px;

  }

  .first-page .current-templete {
    position: relative;
    width: 400px;
    height: auto;
    padding-left: 5px;
    padding-top: 10px;
    color: white;
    font-size: 25px;
  }

  .first-page .current-templete-2 {
    position: relative;
    height: auto;
    color: white;
    font-size: 25px;
    width: 400px;
    padding-left: 5px;

  }

  .first-page .container-cards {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 400px;
    height: auto;
    margin-top: 3400px;
    /* margin-left: -20px; */
    padding-bottom: 200px;
  }

  .first-page .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 320px;
    background-color: #171F26BF;
    border-radius: 20px;
    padding-top: 25px;
  }

  .first-page .text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 220px;
    height: auto;
  }

  .first-page .title-card {
    position: absolute;
    color: white;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .first-page .subtitle-card {
    position: absolute;
    color: white;
    font-size: 9px;
    margin-top: 70px;
    margin-left: 30px;
  }

  .line-1 {
    position: absolute;
    width: 210px;
    height: 1.5px;
    top: 43px;
    left: 135px;
    background-color: #252c31ff;
  }

  .line-2 {
    position: absolute;
    width: 210px;
    height: 1.5px;
    top: 143px;
    left: 120px;
    background-color: #252c31ff;
  }

  .first-page .gif-card {
    position: relative;
    width: 160px;
    height: auto;
    border-radius: 20px;
    margin-top: -60px;
  }

  .first-page .container-templetes-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding-left: 30px;
    gap: 20px;
  }

  .first-page .arrow {
    position: absolute;
    right: 15px;
    width: 10px;
    height: auto;
  }

  .first-page .card-fixed {
    width: 420px;
    height: 130px;
    margin-left: -8px;

  }

  .first-page .input-bottom {
    width: 390px;
    height: 70px;


  }

  .first-page .hidden-section {
    display: none;
  }


  .menu-bottom {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 415px;
    height: 200px;
    background-color: #171F26E5;
    border: 2px solid #171F26BF;
    border-radius: 20px;
    font-size: 25px;
    display: block;
  }

  .menu-top-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 115px;
    border-radius: 20px;
    background-color: #171F26FA;
  }

  .menu-description-bg {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    height: 60px;
    border-radius: 20px;
    background-color: #D9D9D91A;
  }

  .menu-description-bg textarea {
    width: 90%;
    background: transparent;
    border: none;
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    resize: none;
    outline: none;
    min-height: 20px;
    padding: 10px;
  }

  .menu-icons-bottom {
    position: absolute;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .plus-bottom {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
  }

  .link-bottom {
    position: absolute;
    left: 60px;
    width: 20px;
    height: 20px;
  }

  .landing-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D91A;
    width: 150px;
    height: 29px;
    border-radius: 20px;
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    cursor: pointer;
    left: 40px;
  }

  .arrow-bottom-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
    right: 10px;
    border-radius: 20px;
    background-color: #00000040;
  }

  .arrow-bottom {
    width: 16px;
    height: 16px;
  }

  .priority-section-bottom {
    position: absolute;
    bottom: 13px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171F26FA;
    padding: 15px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .priority-section-bottom.open {
    border-radius: 20px 20px 0 0;
  }

  .priority-section-bottom span {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 15px;
  }

  .priority-section-bottom img {
    width: 10px;
    height: 10px;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .priority-section-bottom.open img {
    transform: rotate(90deg);
  }

  .landing-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D91A;
    width: 320px;
    height: 28px;
    border-radius: 20px;
    color: white;
    font-family: 'Mont', sans-serif;
    border: none;
    font-size: 13px;
    cursor: pointer;
    left: 40px;
    top: -15px;
    padding-left: 20px;
  }

}



@media screen and (max-width: 400px) {

  .first-page .shadow {
    position: fixed;
    width: 8000px;
    height: 200px;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0.7, 0) 100%);
    z-index: 10;
    display: block;
  }

  .first-page .menu {
    position: fixed;
    top: 70px;
    left: 50%;
    width: 50px;
    min-width: 350px;
    height: 145px;
    overflow-y: auto;
    padding-top: 11px;
    padding-bottom: 0px;
    overflow-x: hidden;

  }

  /* Ajustar el logo para que esté centrado con el menú */
  .first-page .logo {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 100px;
    height: auto;
    margin-bottom: 0px;

  }

  .first-page .menu-bottom {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 200px;
    background-color: #171F26E5;
    border: 2px solid #171F26BF;
    border-radius: 20px;
    font-size: 25px;
    display: block;
  }

  .first-page .menu-top-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 330px;

  }

  .first-page .menu-description-bg {
    position: absolute;
    top: 10px;
    width: 300px;
    height: 60px;
  }

  .line-1 {
    position: absolute;
    width: 180px;
    height: 1.5px;
    top: 30px;
    left: 135px;
    background-color: #252c31ff;
  }

  .line-2 {
    position: absolute;
    width: 180px;
    height: 1.5px;
    top: 130px;
    left: 130px;
    background-color: #252c31ff;
  }

  .first-page .menu-description-bg textarea {
    width: 90%;
    font-size: 14px;
    min-height: 20px;
    padding: 10px;
  }

  .first-page .menu-icons-bottom {
    position: absolute;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .first-page .menu-icons-bottom {
    position: absolute;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .first-page .plus-bottom {
    position: absolute;
    left: 15px;
    width: 13px;
    height: 13px;
  }

  .first-page .link-bottom {
    position: absolute;
    left: 45px;
    width: 13px;
    height: 13px;
  }

  .first-page .arrow-bottom-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    right: 10px;
    border-radius: 20px;
    background-color: #00000040;
  }

  .first-page .arrow-bottom {
    width: 10px;
    height: 10px;
  }

  .first-page .priority-section-bottom {
    position: absolute;
    bottom: 13px;
    width: 300px;
    left: 10px;
  }

  .first-page .container-cards {
    column-gap: 10px;
    columns: 2;
    width: 350px;
    height: auto;
    padding-bottom: 200px;
    margin-top: 2850px;
    margin-left: -5px;
  }

  .first-page .card {
    width: 170px;
    height: 300px;
  }

  .first-page .title-card {
    font-size: 13px;
    margin-top: 60px;
    margin-left: 40px;
    width: 100px;
  }

  .first-page .current-templete-2 {

    width: 350px;
  }


  .first-page .gif-card {
    width: 145px;
    margin-top: -60px;
  }

  .landing-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D91A;
    width: 253px;
    height: 28px;
    border-radius: 20px;
    color: white;
    font-family: 'Mont', sans-serif;
    border: none;
    font-size: 13px;
    cursor: pointer;
    left: 40px;
    top: -15px;
    padding-left: 20px;
  }

  .menu.menu-expanded {
    min-height: 260px;
  }

}













/* -------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {

  .sp-hidden-section {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: black;
    transition: opacity 0.5s ease-in-out;
    overflow-x: hidden;

  }

  .sp-shadow {
    position: fixed;
    width: 100%;
    height: 250px;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0.7, 0) 100%);
    z-index: 10;
    display: block;
  }

  /* Mantener el menú en la parte superior */
  .second-page .sp-menu {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    min-width: 400px;
    height: 295px;
    background-color: #2c2c2cbf;
    border-radius: 20px;
    padding: 25px 20px;
    box-sizing: border-box;
    border: 1px solid #171F26BF;
    z-index: 100;
  }

  .sp-line-1 {
    position: absolute;
    width: 220px;
    height: 1.5px;
    top: 47px;
    left: 140px;
    background-color: #252c31ff;
  }

  .sp-line-2 {
    position: absolute;
    width: 270px;
    height: 1.5px;
    top: 147px;
    left: 90px;
    background-color: #252c31ff;
  }

  /* Ajustar el logo para que esté centrado con el menú */
  .second-page .sp-logo {
    position: fixed;
    top: 20px;
    left: 49%;
    transform: translateX(-50%);
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    z-index: 101;
  }

  .second-page .sp-container {
    width: 420px;
    height: 100%;
    margin-top: 600px;

  }

  .second-page .sp-cards-container {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    /* right: 0; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 113%;
    height: 100%;
  }

  .second-page .sp-title {
    position: relative;
    width: 400px;
    height: auto;
    padding-left: 5px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
  }

  .second-page .sp-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding-bottom: 0px;

  }

  .second-page .sp-current-templete {
    position: relative;
    width: 400px;
    height: auto;
    padding-left: 5px;
    padding-top: 10px;
    color: white;
    font-size: 25px;
  }

  .second-page .sp-current-templete-2 {
    position: relative;
    height: auto;
    color: white;
    font-size: 25px;
    width: 400px;
    padding-left: 5px;

  }

  .second-page .sp-container-cards {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 400px;
    height: auto;
    margin-top: 80px;
    /* margin-left: -22px; */
  }

  .second-page .sp-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 180px;
    height: 320px;
    background-color: #171F26BF;
    border-radius: 20px;
    padding-top: 25px;
  }

  .second-page .sp-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 220px;
    height: auto;
  }

  .second-page .sp-title-card {
    position: absolute;
    color: white;
    font-size: 13px;
    margin-top: 50px;
    margin-left: 30px;
  }

  .second-page .sp-subtitle-card {
    position: absolute;
    color: white;
    font-size: 9px;
    margin-top: 70px;
    margin-left: 30px;
  }

  .second-page .sp-gif-card {
    position: relative;
    width: 160px;
    height: auto;
    border-radius: 20px;
    margin-top: -60px;
  }

  .second-page .sp-container-templetes-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding-left: 30px;
    gap: 20px;
  }

  .second-page .arrow {
    position: absolute;
    right: 15px;
    width: 10px;
    height: auto;
  }

  .second-page .card-fixed {
    width: 420px;
    height: 130px;
    margin-left: -8px;

  }

  .second-page .input-bottom {
    width: 390px;
    height: 70px;


  }

  .second-page .hidden-section {
    display: none;
  }

  .menu-bottom {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 415px;
    height: 200px;
    background-color: #171F26E5;
    border: 2px solid #171F26BF;
    border-radius: 20px;
    font-size: 25px;
    display: block;
    z-index: 10;
  }

  .menu-top-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 115px;
    border-radius: 20px;
    background-color: #171F26FA;
  }

  .menu-description-bg {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;
    height: 60px;
    border-radius: 20px;
    background-color: #D9D9D91A;
  }

  .menu-description-bg textarea {
    width: 90%;
    background: transparent;
    border: none;
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    resize: none;
    outline: none;
    min-height: 20px;
    padding: 10px;
  }

  .menu-icons-bottom {
    position: absolute;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .plus-bottom {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
  }

  .link-bottom {
    position: absolute;
    left: 60px;
    width: 20px;
    height: 20px;
  }

  .arrow-bottom-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
    right: 10px;
    border-radius: 20px;
    background-color: #00000040;
  }

  .arrow-bottom {
    width: 16px;
    height: 16px;
  }

  .priority-section-bottom {
    position: absolute;
    bottom: 13px;
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171F26FA;
    padding: 15px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .priority-section-bottom.open {
    border-radius: 20px 20px 0 0;
  }

  .priority-section-bottom span {
    color: white;
    font-family: 'Mont', sans-serif;
    font-size: 15px;
  }

  .priority-section-bottom img {
    width: 10px;
    height: 10px;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .priority-section-bottom.open img {
    transform: rotate(90deg);
  }

  .sp-play-icon {
    position: absolute;
    top: 83%;
    left: 30px;

  }

  .sp-pause-icon {
    position: absolute;
    top: 82%;
    left: 30px;

  }

  .sp-sound-icon {
    position: absolute;
    top: 82%;
    right: 5px;

  }

  .sp-mute-icon {
    position: absolute;
    top: 82%;
    right: 5px;


  }


  .sp-spacer-hidden {
    display: block;
    width: 100%;
    height: 200px;
  }


  .second-page .sp-title-card {
    margin-top: 40px;
    margin-left: 30px;
    width: 200px;
  }

  .second-page .sp-subtitle-card {
    width: 160px;
    margin-top: 70px;
    margin-left: 30px;
  }

  .sp-landing-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D91A;
    width: 320px;
    height: 28px;
    border-radius: 20px;
    color: white;
    font-family: 'Mont', sans-serif;
    border: none;
    font-size: 13px;
    cursor: pointer;
    left: 40px;
    top: -15px;
    padding-left: 20px;
  }


}

@media screen and (max-width: 400px) {

  .sp-menu.menu-expanded {
    min-height: 310px;
  }

  .second-page .sp-shadow {
    position: fixed;
    width: 8000px;
    height: 200px;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0.7, 0) 100%);
    z-index: 10;
    display: block;
  }

  .second-page .sp-menu {
    position: fixed;
    top: 60px;
    left: 50%;
    width: 350px;
    min-width: 350px;
    height: 145px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: hidden;
  }

  .sp-line-1 {
    position: absolute;
    width: 180px;
    height: 1.5px;
    top: 32px;
    left: 140px;
    background-color: #252c31ff;
  }

  .sp-line-2 {
    position: absolute;
    width: 230px;
    height: 1.5px;
    top: 132px;
    left: 83px;
    background-color: #252c31ff;
  }

  /* Ajustar el logo para que esté centrado con el menú */
  .second-page .sp-logo {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 100px;
    height: auto;
    margin-bottom: 0px;

  }

  .second-page .menu-bottom {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 200px;
    background-color: #171F26E5;
    border: 2px solid #171F26BF;
    border-radius: 20px;
    font-size: 25px;
    display: block;
  }

  .second-page .menu-top-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    width: 330px;

  }

  .second-page .menu-description-bg {
    position: absolute;
    top: 10px;
    width: 300px;
    height: 60px;
  }

  .second-page .menu-description-bg textarea {
    width: 90%;
    font-size: 14px;
    min-height: 20px;
    padding: 10px;
  }

  .second-page .menu-icons-bottom {
    position: absolute;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .second-page .menu-icons-bottom {
    position: absolute;
    bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .second-page .plus-bottom {
    position: absolute;
    left: 15px;
    width: 13px;
    height: 13px;
  }

  .second-page .link-bottom {
    position: absolute;
    left: 45px;
    width: 13px;
    height: 13px;
  }

  .second-page .arrow-bottom-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    right: 10px;
    border-radius: 20px;
    background-color: #00000040;
  }

  .second-page .arrow-bottom {
    width: 10px;
    height: 10px;
  }

  .second-page .priority-section-bottom {
    position: absolute;
    bottom: 13px;
    width: 300px;
    left: 10px;
  }

  .second-page .sp-container {
    width: 350px;
    height: 100%;
    margin-top: 400px;
  }

  .second-page .sp-container-cards {
    column-gap: 10px;
    columns: 2;
    width: 350px;
    height: auto;
    /* margin-left: -35px; */
    margin-top: 10px;
  }

  .second-page .sp-card {
    width: 170px;
    height: 300px;
  }

  .second-page .sp-title-card {
    margin-top: 40px;
    margin-left: 40px;
    width: 200px;
  }

  .second-page .sp-subtitle-card {
    margin-top: 75px;
    margin-left: 40px;
  }


  .second-page .sp-gif-card {
    width: 145px;
    margin-top: -60px;
  }

  .sp-play-icon {
    position: absolute;
    top: 80%;
    left: 30px;

  }

  .sp-pause-icon {
    position: absolute;
    top: 80%;
    left: 30px;

  }

  .sp-sound-icon {
    position: absolute;
    top: 79%;
    right: 5px;

  }

  .sp-mute-icon {
    position: absolute;
    top: 79%;
    right: 5px;


  }

  .sp-landing-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D91A;
    width: 253px;
    height: 28px;
    border-radius: 20px;
    color: white;
    font-family: 'Mont', sans-serif;
    border: none;
    font-size: 13px;
    cursor: pointer;
    left: 40px;
    top: -15px;
    padding-left: 20px;
  }




}